.fruit-counter-bg-container {
  background-color: #ffd569;
  padding: 2rem;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fruit-counter-content-container {
  background-color: #ffffff;
  border-radius: 1rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto';
}

.fruit-counter-header {
  color: #000000;
  font-size: 4rem;
  margin-bottom: 4rem;
}

.fruit-counter-text {
  color: #ffd569;
}

.eat-fruits-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.eat-fruits-container-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80vw;
}

.fruit-img {
  width: 100%;
}

.eat-fruit-button {
  color: #ffffff;
  background-color: #007bff;
  font-size: 1rem;
  cursor: pointer;
  outline: none;
  border-radius: 0.4rem;
  padding: 0.5rem 1rem;
  border: none;
}

@media (min-width: 768px) {
  .eat-fruits-container-item {
    width: 25vw;
  }
}
